// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$green: #32B796;
$gray: #000000;

$linc-orange: #D75321;
$linc-light-orange: rgba(215,83,33, 0.6);
$linc-light-gray: #F9F9F9;
$linc-light-brown: #F3E5DA;
