#banner-contact {
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1544540476/LINC%20photos/Mara_Masai_20151211_Nina_29.jpg);
  background-position: 50% 0%;
  height: 85vh;
  h1 {
    color: white;
    font-size: 90px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
  }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 #banner-contact {
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1544540476/LINC%20photos/Mara_Masai_20151211_Nina_29.jpg);
  background-position-x: 26%;
 }
}
