#banner-contact {
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1554296779/LINC%20website/Contact/Mara_Masai_20151211_Nina_29_-1-min.jpg);
  background-position-y: 30%;
  height: calc(100vh - 123px);
  h1 {
    color: white;
    font-size: 90px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
  }
}

input#contact_name {
  width: 100%;
  padding: 5px;
}

input#contact_email {
  width: 100%;
  padding: 5px;
}

textarea#contact_message {
  width: 100%;
  padding: 5px;
}

label {
  font-family: $body-font;
}

#thank-you-block {
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1554290243/LINC%20website/Contact/3348.jpg);
  height: calc(100vh - 123px);
  background-position-y: 30%;
}

#thank-you-message {
  font-family: $body-font;
  font-size: 40px;
  color: black;
}

@media only screen and (min-device-width : 1445px) and (max-device-width : 2560px) {
  #banner-contact {
  // background-position-y: 25%;
  // height: 60vh;
  }
}

@media only screen  and (min-width : 1024px) and (max-device-width : 1440px) {
  #banner-contact {
  // background-position-y: 40%;
  // height: 85vh;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
   #banner-contact {
  background-position-y: 50%;
  height: calc(100vh - 123px);
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
  #banner-contact {
  background-position: 63% 0%;
  height: calc(100vh - 307px);
    h1 {
      font-size: 50px !important;
    }
  }
}
