
#historic-range-img {
  border: solid #D65229 3px;
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #steph-quote-block {
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347055/LINC%20website/About/quotesteph.jpg);
  height: 100%;
  }

  #steph-quote-block p {
    margin-left: 35%;
  }

  #AI-tech-photo {
  height: 100%;
  width: 100%;
  }

  #img-haar-tech {
  height: 100%;
  width: 90%;
  }

  #nic-quote-block {
    background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347054/LINC%20website/About/quotenic.jpg);
    background-position: 50% 75%;
    height: 100%;
  }
  #nic-quote-block p {
    margin: 100px 0px 0px 550px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  #AI-tech-photo {
  height: 100%;
  width: 100%;
  }

  #img-haar-tech {
  height: 100%;
  width: 90%;
  }

  #steph-quote-block {
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347055/LINC%20website/About/quotesteph.jpg);
  height: 100%;
  background-position-x: 10%;
  }

  #steph-quote-block p {
    margin-left: 30%;
  }

  #nic-quote-block {
    background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347054/LINC%20website/About/quotenic.jpg);
    background-position: 25% 75%;
    height: 100%;
  }
  #nic-quote-block p {
    margin: 50px 0px 0px 500px;
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  #historic-range-img {
    margin-top: 8rem;
  }
  #AI-tech-photo {
  height: 100%;
  width: 100%;
  }

  #steph-quote-block {
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347055/LINC%20website/About/quotesteph.jpg);
  background-repeat:no-repeat;
  background-position: 36%;
  }

  #steph-quote-block p {
    margin-left: 150px;
  }

  #nic-quote-block {
    background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347054/LINC%20website/About/quotenic.jpg);
    background-position: 25% 75%;
    height: 100%;
  }
  #nic-quote-block p {
    margin: 0px 0px 0px 250px;
  }
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  #AI-tech-photo {
  height: 100%;
  width: 100%;
  }
  #steph-quote-block {
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347049/LINC%20website/About/Focus.jpg);
  background-repeat:no-repeat;
  background-position: 50% 100%;
  }
  #nic-quote-block {
    background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347048/LINC%20website/About/7148-min.jpg);
    background-position: 100%;
  }
  #nic-quote-block p {
    margin-top: 25px;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #AI-tech-photo {
  height: 100%;
  width: 100%;
  }
  #steph-quote-block {
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347049/LINC%20website/About/Focus.jpg);
  background-repeat:no-repeat;
  background-position: 50% 100%;
  }
  #nic-quote-block {
    background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347048/LINC%20website/About/7148-min.jpg);
    background-position: 100%;
  }
  #nic-quote-block p {
    margin-top: 25px;
  }
}





.row-border-bottom {
  border-bottom: solid #d1d1d1 1px;
}

#banner-about {
  height: 100%;
  h1 {
    color: white;
    font-size: 90px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
  }
}






.parallax {
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote-block {
  height: 80vh !important;
}

.quote-box {
  background-color: rgba(0,0,0,0.3);
}

