#banner-about {
 height: calc(100vh - 191px);
#banner-about {
    height: calc(100vh - 191px);
  }
  h1 {
    color: white;
    font-size: 90px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
  }
}

#historic-range-img {
  border: solid #D65229 3px;
}

#steph-quote-block {
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1554314082/LINC%20website/About/Mara_Masai_20171108_Tom_Bruce_20_-1.jpg);
}

.quote-box-steph {
  color: black !important;
  padding: 10px;
}

.quote-box-nic {
  color: black !important;
  padding: 10px;
}

#nic-quote-block {
    background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1554290243/LINC%20website/Contact/3348.jpg);
    background-position-y: 25%;
  }


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1281px) {
  #steph-quote-block {
  background-position-y: 35%;
  background-position-x: 70%;
  height: calc(100vh - 123px);
  }

  .lead.quote-box-steph {
  position: relative;
  top: 90%;
  font-size: 1.25rem !important;
  margin-top: 20px;
  }

  #AI-tech-photo {
  height: 100%;
  width: 100%;
  }

  #img-haar-tech {
  width: 100%;
  }

  #nic-quote-block {
    height: 83vh;
  }

  .lead.quote-box-nic {
    position: relative;
    top: 75%;
    left: -11%;
    font-size: 2rem !important;
    margin-top: 20px;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 1025px) and (max-width: 1280px) {
  #AI-tech-photo {
  height: 100%;
  width: 100%;
  }

  #img-haar-tech {
  width: 100%;
  }

  #steph-quote-block {
  height: 70vh;
  background-position-y: 35%;
  }

  .lead.quote-box-steph {
    position: relative;
    top: 22%;
    font-size: 1.25rem !important;
    margin-top: 20px;
  }

  #nic-quote-block {
    height: 75vh;
  }

  .lead.quote-box-nic {
    position: relative;
    font-size: 1.25rem !important;
    margin-top: 100px;
    margin-right: 50px;
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 1024px) {
  #banner-about {
    background-position-x: 10%;
    height: calc(100vh - 235px);
  }

  #historic-range-img {
    margin-top: 8rem;
  }
  #AI-tech-photo {
  height: 100%;
  width: 100%;
  }

  #steph-quote-block {
  height: 32vh;
  background-position: 65% 30%;
  }

  .lead.quote-box-steph {
    position: relative;
    top: 15%;
  }

  #nic-quote-block {
    height: 32vh;
    background-position-x: 16%;
  }

  .lead.quote-box-nic {
    position: relative;
    font-size: 1.25rem !important;
    margin-top: 65px;
  }
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #banner-about {
    background-position-x: 10%;

  }

  #AI-tech-photo {
  height: 100%;
  width: 100%;
  }

  #nic-quote-block p {
    margin-top: 25px;
  }

  .lead.quote-box-steph {
    font-size: 1rem !important;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  #banner-about {
    background-position-x: 10%;

  }

  #AI-tech-photo {
  height: 100%;
  width: 100%;
  }

  #nic-quote-block p {
    margin-top: 25px;
  }

  .lead.quote-box-steph {
    font-size: 1rem !important;
    position: relative;
    top: 0%;
  }

}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 481px) and (max-width: 767px) {
  #AI-tech-photo {
  height: 100%;
  width: 100%;
  }

  #steph-quote-block {
  background-repeat:no-repeat;
  background-position: 50% 100%;
  }

  .lead.quote-box-steph {
    background: rgba(0,0,0,0.2);
  }

  .lead.quote-box-nic {
    background: rgba(0,0,0,0.2);
  }

  #nic-quote-block p {
    margin-top: 25px;
  }

 #banner-about {
    background-position-x: 10%;
    height: calc(100vh - 395px);
    h1 {
      font-size: 60px !important;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #AI-tech-photo {
  height: 100%;
  width: 100%;
  }
  #steph-quote-block {
  background-repeat:no-repeat;
  background-position-x: 80%;
  }

  .lead.quote-box-steph {
    background: rgba(0,0,0,0.2);
  }

  .lead.quote-box-nic {
    background: rgba(0,0,0,0.2);
  }

  #nic-quote-block p {
    margin-top: 25px;
  }

  #banner-about {
    background-position-x: 10%;
     height: calc(100vh - 395px);
    h1 {
      font-size: 50px !important;
    }
  }
}


.row-border-bottom {
  border-bottom: solid #d1d1d1 1px;
}



// .quote-block {
//   height: 80vh !important;
// }
