
#historic-range-img {
  border: solid #D65229 3px;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  #AI-tech-photo {
  height: 45vh;
  width: 100%;
  }

  #img-haar-tech {
  height: 500px;
  width: 540px;
  }

  #steph-quote-block {
  background-image: url(/assets/about/quotesteph.jpg);
  }

  #steph-quote-block p {
    margin-left: 150px;
  }

  #nic-quote-block {
    background-image: url(/assets/about/quotenic.jpg);
    background-position: 50% 75%;
  }
  #nic-quote-block p {
    margin: 120px 0px 0px 180px;
  }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #AI-tech-photo {
  height: 23vh;
  width: 100%;
  }

  #steph-quote-block {
  background-image: url(/assets/about/quotesteph.jpg);
  background-repeat:no-repeat;
  background-position: 36%;
  }

  #steph-quote-block p {
    margin-left: 150px;
  }



  #banner-about h1 {
    justify-content: center;
  }
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #AI-tech-photo {
  height: 15vh;
  width: 100%;
  }
  #steph-quote-block {
  background-image: url(/assets/about/Focus.jpg);
  background-repeat:no-repeat;
  background-position: 50% 100%;
  }
  #nic-quote-block {
    background-image: url(/assets/about/7148-min.jpg);
    background-position: 100%;
  }
  #nic-quote-block p {
    margin-top: 150px;
  }
}




.row-border-bottom {
  border-bottom: solid #d1d1d1 1px;
}

#banner-about {
  height: 75vh;
  h1 {
    color: white;
    font-size: 90px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
  }
}


.parallax {
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote-block {
  height: 80vh !important;
}

.quote-box {
  background-color: rgba(0,0,0,0.3);
}

