.img-logo {
  height: 150px;
  width: 150px;
}

#lionguardians-logo {
  width: 120px;
}

#kws-logo {
  height: 170px;
  width: 190px;
}





/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  #row-team {
   // position: absolute;
   // left: 29rem;
   // top: 0rem;
  }

  #banner-team {
  height: 90vh;
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1547470934/LINC%20photos/LINC_photos_Lion_Rock-2_1.jpg);
  background-position: 100% 0%;
  h1 {
    color: white;
    font-size: 90px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
  }
}

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #banner-team {
  height: 90vh;
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1547470934/LINC%20photos/LINC_photos_Lion_Rock-2_1.jpg);
  background-position: 95% 0%;
  h1 {
    color: white;
    padding-top: 100px;
    font-size: 90px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #banner-team {
  height: 60vh;
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1547470934/LINC%20photos/LINC_photos_Lion_Rock-2_1.jpg);
  background-position: 90% 0%;
  h1 {
    color: white;
    padding-top: 30px;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
    }
  }
}

