.img-logo {
  height: 150px;
  width: 150px;
}

#lionguardians-logo {
  width: 120px;
}

#kws-logo {
  height: 170px;
  width: 190px;
}


@media only screen and (min-device-width : 1445px) and (max-device-width : 2560px) {
   #banner-team {
  height: 60vh;
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347117/LINC%20website/Team/lion_rock.jpg);
  background-position: 50% 20%;
  background-repeat: no-repeat;
  h1 {
    color: white;
    padding-top: 30px;
    font-size: 8rem;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
    }
  }
}

@media only screen  and (min-width : 1024px) and (max-device-width : 1440px) {
  #banner-team {
  height: 85vh;
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347117/LINC%20website/Team/lion_rock.jpg);
  background-position: 100% 100%;
  h1 {
    color: white;
    font-size: 6rem;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #banner-team {
  height: 90vh;
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347117/LINC%20website/Team/lion_rock.jpg);
  background-position: 86% 86%;
  h1 {
    color: white;
    padding-top: 100px;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
   #banner-team {
  height: 60vh;
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347117/LINC%20website/Team/lion_rock.jpg);
  background-position: 90% 75%;
  h1 {
    color: white;
    padding-top: 30px;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
    }
  }
}


