
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(242,233,208,0.4) 0%, rgba(242,233,208,0.2) 50%), url('https://res.cloudinary.com/lynn-de-souza/image/upload/v1544540708/LINC%20photos/PJB_1369.jpg');">
  <div class="banner-content">
    <h1>ABOUT LINC</h1>
  </div>
</div>
