
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(57,62,70,0.1) 0%, rgba(57,62,70,0.2) 50%), url('https://res.cloudinary.com/lynn-de-souza/image/upload/v1548348819/LINC%20website/About/lionessMeru-min-min_1.jpg');">
  <div class="banner-content">
    <h1 id="hero-text">
      Connecting Lions.
      <br>
      Connecting Researchers.
      <br>
      Changing Conservation.
    </h1>
  </div>
</div>
