<div class="navbar-linc">
    <a href="/" class="navbar-linc-logo">
      <img src="assets/logo.png" alt="logo">
    </a>



<!-- Learn more button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle learn-more-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Learn More <span class="caret"></span>
  </button>
  <ul class="dropdown-menu learn-more-dropdown">
    <li><a href="#">About LINC</a></li>
    <li><a href="#">About the lions</a></li>
    <li><a href="#">About the technology</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Contact LINC</a></li>
  </ul>
</div>

<!-- Search Button -->
<div class="input-search">
  <input type="text" class="form-control" placeholder="Search">
</div>

  <!-- Right Navigation -->
  <div class="navbar-linc-right hidden-xs hidden-sm">
    <a href="" class="navbar-linc-item navbar-linc-link">Join LINC</a>
    <a href="" class="navbar-linc-item navbar-linc-link">Login</a>
    <a href="" class="navbar-linc-item navbar-linc-link change-icon" id="donate">DONATE &nbsp<i class="far fa-heart"></i><i class="fas fa-heart"></i></a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-linc-item-mobile hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-linc-dropdown-menu">
        <li><a href="#">Join LINC</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">DONATE</a></li>
      </ul>
    </div>
  </div>
</div>
