
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="assets/logo.png" alt="logo">
  </a>
   <!-- Dropdown appearing on mobile only -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Dropdown appearing on wider screens -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Search Button -->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <!-- Learn more dropdown -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle learn-more-btn d-none d-xl-block" data-toggle="dropdown" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Learn More
        </a>
        <div class="dropdown-menu learn-more-dropdown" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">About LINC</a>
          <a class="dropdown-item" href="#">About the Lions</a>
          <a class="dropdown-item" href="#">About the Technology</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Contact LINC</a>
        </div>
      </li>
    <!-- Right Navigation -->
      <li class="nav-item">
        <a class="nav-link navbar-linc-link" href="#">Join LINC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-linc-link" href="#">LINC Login</a>
      </li>
    <!-- Donate button -->
      <li class="nav-item">
      <a class="nav-link" id="donate" href="#"> DONATE &nbsp<i class="far fa-heart"></i><i class="fas fa-heart"></i></a>
      </li>
    </ul>
  </div>
</nav>
