<section data-spy="scroll" data-target="#navbar-2" data-offset="0">
  <div class="fdb-block" data-block-type="contents" data-id="1" draggable="true" id="thelions">
    <div class="col-fill-left" style="padding-top: 100px; background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1544540625/LINC%20photos/Focus.jpg);">
    </div>

    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-md-5 text-center">
          <br>
          <p class="lead">In the last 50 years, it is estimated that 50% of Africa’s lions have <strong>disappeared</strong>.</p>
          <br>
        </div>
      </div>
    </div>
  </div>

  <div class="fdb-block" data-block-type="contents" data-id="1" draggable="true">
    <div class="col-fill-right" style="background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1544540938/LINC%20photos/Lioness_Meru_NP.jpg);">
    </div>

    <div class="container">
      <div class="row justify-content-start">
        <div class="col-12 col-md-5 text-center">
          <br>
          <p class="lead">In the last century, it is estimated that more than 80% of lion habitat has been lost.</p>
          <br>
        </div>
      </div>
    </div>
  </div>

  <div class="fdb-block" data-block-type="contents" data-id="1" draggable="true">
    <div class="col-fill-left" style="background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1544540462/LINC%20photos/007-Philip-J-Briggs_Reflective.jpg);">
    </div>

    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-md-5 text-center">
          <br>
          <p class="lead">Today, there are reported to be less than an estimated 30,000 lions remaining in the wild.</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>
