<section class="fdb-block" id="banner-campaign" style="background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1565299545/LINC%20website/Campaign/NDS_1048-14.jpg);">
  <div class="container">
    <div class="row justify-content-center">
      &nbsp;
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <h1 class="text-center" id="force-main">Force for Change</h1>
        <h2 class="text-center" id="force-sub">Become a Force for Change - join us as we revolutionize conservation.</h2>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 text-left">
        <p class="lead">Lion Guardians is honoured to have been recognized as a <%= link_to '#forceforchange', "https://www.facebook.com/hashtag/forceforchange?source=feed_text&epa=HASHTAG&__xts__%5B0%5D=68.ARAC8Tux1SzX3MahG4P5hId2Vo4HW-d2sUfQOBPto-3HZIHRve68eWxXysFraM2Bwj3dQWCJ_lfXF0-KTAsufyPSD_uSBYmM-PK6mc5CDzIaO8M_Ut587oyKsNpEEDAMe9FE0imngncwrRzuR2stS2CI2REjxCf4UOO9hAtiJS2fFf4-mSA73UKySA0drT3qP2kQLpk4BCgrsC69OAubK8euhDZ4WaUUuX4ZKBPVcYV0tDjlA0x3WpHurP0bl3IGO0cKVidaufzG5QPDtyfKzNMR4ighCigCOy4ph778jCOUcXWE1EAUphwYickdP7iEM5EcHUoLTRAT-CZeYNB_&__tn__=%2ANK-R", target: "_blank" %> by Prince Harry and Meghan, Duke and Duchess of Sussex for our efforts to conserve lions and preserve cultures in <%= link_to '#Kenya', "https://www.facebook.com/hashtag/kenya?source=feed_text&epa=HASHTAG&__tn__=*NK-R", target: "_blank" %> and we want YOU to join us on our journey for change. In 2015, we launched the ground-breaking technology LINC (Lion Identification Network of Collaborators), which is aimed at connecting researchers and transforming conservation. In 2018, LINC was granted funds through Microsoft and National Geographic through their <%= link_to 'AI for Earth', "https://www.microsoft.com/en-us/ai/ai-for-earth?activetab=pivot1:primaryr6" %> program and today, LINC is composed of a community of conservationists that span Kenya and Northern Tanzania.</p>

        <img alt="image" class="img-fluid ml-xl-5 mt-5 mb-5" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1565286256/LINC%20website/Campaign/Linc_successes_August_2019.png">

        <p class="lead mb-5">
          To become an even greater Force for Change, we want to catapult LINC from awesome to completely game-changing. To do this we need $500,000 – <span id="text-strong">will you join our force for change?</span>
        </p>
      </div>
    </div>

    
  <div class="container" id="force-container">
    <div class="row text-center justify-content-center mt-5">
      <div class="col-12 col-sm-4 col-xl-3 m-md-auto">
        <a href="https://secure.acceptiva.com/?cst=3bbd26"><img alt="image" class="fdb-icon" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1565292939/LINC%20website/Campaign/credit-card.png"></a>
        <p class="mt-2">Donate by Credit Card</p>
      </div>

      <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
        
         <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
           <input type="hidden" name="cmd" value="_donations" />
           <input type="hidden" name="business" value="info@linclion.org" />
           <input type="hidden" name="currency_code" value="USD" />
           <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
           <img alt="" border="0" src="https://www.paypal.com/en_KE/i/scr/pixel.gif" width="2" height="2" />
         </form>
         <p class="mt-2">Donate by Paypal</p>
      </div>

      <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
        <a href="http://www.lionguardiansus.org/LGUS_donationform.pdf"><img alt="image" class="fdb-icon" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1565293413/LINC%20website/Campaign/cheque.png"></a>
        <p class="mt-2">Send a cheque</p>
      </div>
    </div>


<!--  ****************** This is the progress bar code. The Width % can be adjusted accordingly ****************** -->

  <div class="progress mt-3" style="height: 40px;">
    <div class="progress-bar" role="progressbar" style="width: 17%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="lead text-right" style="color: black;"> $ 85,000 raised &nbsp;</span></div>
  </div>
  <p class="lead text-right" style="font-weight: bold;">$500,000 target</p>
  </div>

</div>
</section>

<section class="fdb-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-10 col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
        <img alt="image" id="steph-justin" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1565299541/LINC%20website/Campaign/people_tech.png">
      </div>

      <div class="col-12 col-md-8 ml-xl-5 pt-5 pt-md-0">
        <h1>LINC IS BORN: FIELD CONSERVATION MEETS ANTHROENGINEERING</h1>
        <p>
          For conservationists, it’s critical to be able to identify individuals to know which animal is where and doing what. But actually doing this requires poring over photos of individual animals, sometimes for hours – time that would be far better spent working in the field. While driving in the bush one night, Lion Guardians’ Director of Science Stephanie Dolrenry wondered aloud whether there was some way to use technology to automatically identify lions’ whisker patterns like star constellations in the sky. Anthroengineer Justin Downs happened to be sitting next to her and he murmured back “but of course” and in that moment, LINC was born.
          <br>
          <br>
          From those humble beginnings, the idea has grown into a ground-breaking open source platform that allows researchers across the continent to work together in conserving African lions.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="fdbblock">
  <div class="container">
    <div class="row text-left ml-xl-3">
      <div class="col-8">
        <h1>LINC TODAY</h1>
      </div>
    </div>

    <br>

    <div class="row-50 d-sm-none d-md-block"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-6">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347051/LINC%20website/About/LionMatch.png">
          </div>
          <div class="col-6">
            <h3 style="font-size: 1.25rem;"><strong>Pioneering technology</strong></h3>
            <p class="margin-bottom">Innovative artificial intelligence technology that helps identify individual lions using algorithms for individual facial and whisker pattern recognition.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-6">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347049/LINC%20website/About/HiveMind.png">
          </div>
          <div class="col-6">
            <h3 style="font-size: 1.25rem;"><strong>Open source</strong></h3>
            <p class="margin-bottom">The platform is openly available, uniting people and enabling the sharing of information in both the conservation and tech world.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row-50 d-sm-none d-md-block"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-6">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347092/LINC%20website/Home/CommunityLogo.png">
          </div>
          <div class="col-6">
            <h3 style="font-size: 1.25rem;"><strong>Network of collaborators</strong></h3>
            <p class="margin-bottom">With 14 participating organizations across Kenya and Tanzania, we are moving towards a vision of a region-wide (and one day, continent-wide) collaborative database for building and sharing knowledge.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-6">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347051/LINC%20website/About/Puzzle.png">
          </div>
          <div class="col-6">
            <h3 style="font-size: 1.25rem;"><strong>Big picture</strong></h3>
            <p class="margin-bottom">LINC generates knowledge of lions at the macro level, helping conservationists better understand how lions move within and between populations, a critical aspect of maintaining genetic viability within increasingly isolated populations.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
<div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-left mt-5">LINC OF THE FUTURE</h1>
        <p class="text-left">The technology surrounding artificial intelligence is changing quickly, and LINC is poised to take advantage of this rapid evolution. But we need your help to harness these advancements and put them to use. By raising $500,000, we will be able to tackle the following critical areas to make LINC more efficient and effective, furthering the conservation of lions and enabling diverse conservation initiatives across wide geographic areas.
          <br>
          <br>
          These funds will help with: 
          <br>
</p>
      </div>
    </div>

    <div class="row-70"></div>

    <div class="row text-center justify-content-sm-center no-gutters">
      <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h2 class="flip-card-header">INNOVATING FOR ACCURACY & EFFICIENCY </h2>
            </div>
            <div class="flip-card-back">
              <p class="flip-card-text">Honing the machine learning algorithms for facial and whisker recognition techniques, deploying deep neural network approaches, and adding innovative pre-processing and algorithmic methods, all of which all allow for better handling of LINC’s ever-growing database. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h2 class="flip-card-header">ENGAGING RESEARCHERS </h2>
            </div>
            <div class="flip-card-back">
              <p class="flip-card-text">Developing tools for automated image annotation and recording and displaying user input about the real time performance of the identification tools, which provide the ability to engage the LINC research community while optimizing the algorithms’ performance on the ground.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h2 class="flip-card-header">BUILDING OFFLINE CAPABILITY </h2>
            </div>
            <div class="flip-card-back">
              <p class="flip-card-text">Allowing researchers in remote locations to consolidate, upload, and access data on the ground to support day-to-day research.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-70 mt-5"></div>

    <div class="row text-center justify-content-sm-center no-gutters">
      <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h2 class="flip-card-header">REFACTORING & STRUCTURING</h2>
            </div>
            <div class="flip-card-back">
              <p class="flip-card-text">Enabling researchers to easily transfer data across platforms and share with the larger science and conservation communities.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h2 class="flip-card-header">INCORPORATING NATIONAL LION SURVEYS</h2>
            </div>
            <div class="flip-card-back">
              <p class="flip-card-text">Incorporating data collected during National lion surveys for broad-scale and multi-year use and analysis.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h2 class="flip-card-header">MAINTAINING DEDICATED SUPPORT </h2>
            </div>
            <div class="flip-card-back">
              <p class="flip-card-text">Covering annual recurring costs, such as server hosting, database service, on-site costs, and a dedicated technical team, which allow smooth, uninterrupted development.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="fdb-block mt-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1544540483/LINC%20photos/NDS_2583.jpg">
      </div>
      <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
        <p class="lead mb-4 justify-content-center">Be a Force For Change and help us revolutionize how researchers study and conserve animals across the globe.</p>
        <p><%= link_to page_path('donate'), id:"donate" do %>
                 SUPPORT
              <% end %></p>
      </div>
    </div>
  </div>
</section>


