<!-- <div class="about-jumbotron jumbotron jumbotron-fluid" style="margin-bottom: 0">
  <div class="container">
    <h1 class="display-4 text-center">About LINC</h1>
  </div>
</div> -->

<section class="fdb-block" id="banner-about" style="background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1548348819/LINC%20website/About/lionessMeru-min-min_1.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-12">
        <h1 class="text-left">ABOUT LINC</h1>
      </div>
    </div>
  </div>
</section>

<%= render "shared/scrollspy" %>


<section class="fdb-block pb-sm-1 pt-sm-1 pb-md-5 pt-md-5" data-block-type="contents" data-id="1" draggable="true" id="thelions">
  <div class="container">

    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 ml-md-auto pt-5 text-center">
        <h2>Increasingly fragmented lion populations</h2>
        <p style="font-size: 1rem;" class="mt-4">Over the last 20 years, the African lion has lost approximately 42% of its habitat leaving the population increasingly fragmented.</p>
        <p style="font-size: 1rem;" class="">Understanding lion movements between areas is critical for conservation decision-making and maintaining genetic diversity. Therefore, it is imperative that researchers and conservationists collaborate on a broader scale to exchange knowledge with the aim to improve connectivity and the sustainability of lion populations across their remaining range. </p>
      </div>
      <div class="col-12 col-md-6 col-lg-6 mb-4 mb-md-0">
        <img alt="image" class="img-fluid ml-lg-4 mr-lg-auto" id="historic-range-img" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347053/LINC%20website/About/RangeMap.png">
      </div>
    </div>


    <div class="row align-items-center mt-1 mb-2">
      <div class="col-12 col-md-6 col-lg-6 mb-4 mb-md-0">
        <img alt="image" class="img-fluid" src="
      https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347049/LINC%20website/About/lincMapFront.png">
      </div>
      <div class="col-12 col-md-6 col-lg-6 ml-md-auto text-center pl-lg-5">
        <p>LINC is a technological solution that generates a rich source of information on lions across their range. These data enable researchers, conservationists and decision-makers to pinpoint priority areas where connection is known to be occurring. The system employs cutting-edge methodologies for sharing data across research initiatives and includes innovative features such as automated lion recognition tools. </p>
      </div>
    </div>
  </div>
</section>

<!-- Quote over background -->
<section class="fdb-block bg-dark" id="steph-quote-block">
  <div class="container align-items-end justify-content-center d-flex">
    <div class="row justify-content-end text-center">
      <div class="col-12 col-md-10 col-lg-8">
        <p class="lead quote-box">“Lions roam over such vast areas that no one research group can effectively study them across their entire range. Platforms like LINC enable us to work together and identify lions from photos more easily, thereby increasing the chances of picking up potential movement between populations.”
          <br><br> <em> - Stephanie Dolrenry -  Co-founder, Lion Guardians</em>
        </p>

      </div>
    </div>
  </div>
</section>

<!-- A community of Lion Researchers -->
<section class="fdb-block pb-2" id="howitworks">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1>A Community of Lion Researchers </h1>
      </div>
    </div>

    <div class="row-50 d-sm-none d-md-block"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-6">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347048/LINC%20website/About/CameraUploadIcon.png">
          </div>
          <div class="col-6">
            <h3 style="font-size: 1.25rem;"><strong>Store your data</strong></h3>
            <p>Manage your organization’s lion data in a structured and secure format.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-6">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347051/LINC%20website/About/Puzzle.png">
          </div>
          <div class="col-6">
            <h3 style="font-size: 1.25rem;"><strong>Find new connections</strong></h3>
            <p>Find out where new lions dispersed from by matching individuals in the database.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row-50 d-sm-none d-md-block"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-6">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347051/LINC%20website/About/LionMatch.png">
          </div>
          <div class="col-6">
            <h3 style="font-size: 1.25rem;"><strong>Make a match</strong></h3>
            <p>Use the automated identification tool to identify unknown lions.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-6">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347048/LINC%20website/About/ShareArrows.png">
          </div>
          <div class="col-6">
            <h3 style="font-size: 1.25rem;"><strong>Share your sightings</strong></h3>
            <p>Share and connect with other researchers.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row-50 d-sm-none d-md-block"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-6">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347050/LINC%20website/About/MagnifyingGlass.png">
          </div>

          <div class="col-6">
            <h3 style="font-size: 1.25rem;"><strong>Explore the database</strong></h3>
            <p>View data on lions from study sites across East Africa.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-6">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347049/LINC%20website/About/HiveMind.png">
          </div>

          <div class="col-6">
            <h3 style="font-size: 1.25rem;"><strong>Open source software</strong></h3>
            <p>Allows for technological innovation and collaboration.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<!-- AI Tech -->
<section class ="fdb-block fp-active pb-lg-5" id="aitech">
  <div class="container-fluid mb-lg-4 pb-lg-3">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h1>Artificial Intelligence Technology</h1>
          <p style="margin: 30px 0px 30px 0px;"> At the heart of LINC is an innovative automated lion recognition algorithm. With the click of a button, eliminate hours of poring over photographs of whisker spots.
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347055/LINC%20website/About/HowLINCworks.png", id: 'AI-tech-photo') %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-8 col-md-4 col-lg-4 m-sm-auto mr-md-auto ml-md-0">
          <h2 class="mr-lg-5 text-center">Computer Vision Software</h2>
        </div>

        <div class="col-12 col-sm-8 col-md-4 col-lg-4 m-sm-auto pt-md-0">
          <h2 class="mr-lg-5 text-center">Pattern Recognition Software</h2>
        </div>

        <div class="col-12 col-sm-8 col-md-4 col-lg-4 m-sm-auto ml-md-auto mr-md-0 pt-md-0">
            <h2 class="text-center mx-lg-5">Matched Lion</h2>
          </div>
      </div>
    </div>

  <div class="container-fluid pl-5 mt-5">
    <div class="row align-items-center">
      <div class="col-12 col-lg-7 col-md-8 mr-auto px-5 pt-5 pt-md-0">
        <h2>First-of-its kind recognition algorithm</h2>
        <p>The computer vision (CV) system detects lion faces based on a Haar classifier. These are then processed using a Convolutional Neural Network that develops classifiers for each individual lion.
        <br>
        <br>
        The facial recognition software currently uses a combination of OpenCV and the Caffe deep learning framework to develop the classifiers it is currently running on a CUDA based NVIDA GPU. LINC is an <%= link_to 'open source', "https://en.wikipedia.org/wiki/Open-source_software", target: "_blank"  %> software to support collaboration where developers and citizen scientists around the world can work together to improve and scale up the artificial intelligence aspects of the system.</p>
      </div>
      <div class="col-10 col-lg-5 col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
        <img alt="image" class="img-fluid" id="img-haar-tech" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347048/LINC%20website/About/tech.jpg">
      </div>
    </div>
  </div>
</section>

<!-- Nic quote overlay -->
<!-- Quote over background -->
<section class="fdb-block bg-dark quote-block" id="nic-quote-block">
  <div class="container align-items-end justify-content-center d-flex">
    <div class="row justify-content-end text-center">
      <div class="col-12 col-md-10 col-lg-12">
        <p class="lead quote-box">“ LINC has the potential to revolutionize the way the scientific community reports and accesses data. ”
          <br><br> - <span style="font-size: 1em"><em>Nic Elliot - Needs his title here</em></span> </p>
      </div>
    </div>
  </div>
</section>

<!-- quick look into linc -->
<section class="fdb-block" id="aquicklook">
  <div class="container pb-4">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1>A Quick Look into LINC</h1>
        <img alt="image" class="img-fluid mt-lg-1" id="screenshot" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347055/LINC%20website/About/screenshot.png">
      </div>
    </div>
  </div>

  <div class="row text-left pt-lg-3 pl-5 pr-5">
    <div class="col-12 offset-lg-1 col-lg-5 col-md-6">
      <div class="row">
        <div class="col-1">
          <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347055/LINC%20website/About/paw_print.png">
        </div>
        <div class="col-10">
          <p>Each research organization has its own platform on LINC where multiple members of their team can access, load, and manage their lion data. </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-5 col-md-6">
      <div class="row">
        <div class="col-1">
          <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347055/LINC%20website/About/paw_print.png">
        </div>
        <div class="col-10">
          <p>Each organisation’s database will consist of lion individuals that they have recorded within their study area. Each lion will have its own profile detailing its “personal information” such as its given name, age, sex, and photographs of it.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-4 pt-lg-2 pb-lg-2">
    <div class="row justify-content-center">
      <div class="col-12 text-left">
        <h2>Who has access to this data?</h2>
        <p>Currently, LINC is open to all interested researchers and conservation organizations working within lion ranges. The current system is operating in East Africa, and there are plans underway to expand the system to include all other areas within the remaining African lion rangelands. Furthermore, we hope to expand the system out to also allow for citizen scientists to also contribute data from sites where they live or travel to.
        <br>
        LINC gives the control to its users - you have the choice to share your data publicly (so that all other users can view it), or you can decide to keep it private (so that only users from your own organization can view the data you upload). View the user agreement <%= link_to 'here', page_path('about/userpolicy') %>.</p>
      </div>
    </div>
  </div>





<!-- what kind of data -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-left">
        <h2>What kind of data do you need to have for LINC?</h2>
        <p>For each individual:</p>
      </div>
    </div>

    <div class="row text-left align-items-center row-border-bottom pt-2 pb-md-3">
      <div class="col-4 col-md-5 ml-md-auto col-lg-4">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347048/LINC%20website/About/whisker_CV.png">
      </div>

      <div class="col-8 col-md-5 col-lg-4 mr-md-auto text-center">
        <p>You must have either portrait and/or whisker photographs of lions – the more portrait photos you have the higher the accuracy of the automated identification software.</p>
      </div>
    </div>

    <div class="row text-left align-items-center row-border-bottom pt-2 pb-md-2">
      <div class="col-4 col-md-5 ml-md-auto col-lg-4">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347048/LINC%20website/About/EarEyeNose.png">
      </div>

      <div class="col-8 col-md-5 col-lg-4 mr-md-auto text-center">
        <p>You can also add photos of the lions markings (such as close ups of its ears, eyes, nose, teeth and tail).</p>
      </div>
    </div>


    <div class="row text-left align-items-center row-border-bottom pt-2 pb-md-2">
      <div class="col-4 col-md-5 ml-md-auto col-lg-4">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347048/LINC%20website/About/cub_Adult.png">
      </div>

      <div class="col-8 col-md-5 col-lg-4 mr-md-auto text-center text-center">
        <p>Approximate age if known.</p>
      </div>
    </div>

    <div class="row text-left align-items-center row-border-bottom pt-2 pb-md-2">
      <div class="col-4 col-md-5 ml-md-auto col-lg-4">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347048/LINC%20website/About/GPS_pin.png">
      </div>

      <div class="col-8 col-md-5 col-lg-4 mr-md-auto text-center">
        <p>Location in which the lion was seen (GPS pin point).</p>
      </div>
    </div>

    <div class="row text-left align-items-center pt-2 pb-md-2 row-border-bottom">

      <div class="col-4 col-md-5 ml-md-auto col-lg-4">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347051/LINC%20website/About/Male_Female.png">
      </div>

      <div class="col-8 col-md-5 col-lg-4 mr-md-auto text-center">
        <p>Sex if known.</p>
      </div>
    </div>

    <div class="row text-left align-items-center row-border-bottom pt-2 pb-md-2">
      <div class="col-4 col-md-5 ml-md-auto col-lg-4">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347048/LINC%20website/About/FamilyTree.png">
      </div>

      <div class="col-8 col-md-5 col-lg-4 mr-md-auto text-center">
        <p>Optional additional information on relatives and associates can also be added.</p>
      </div>
    </div>
  </div>
</section>

