<div class="about-jumbotron jumbotron jumbotron-fluid" style="margin-bottom: 0">
  <div class="container">
    <h1 class="display-4 text-center">About LINC</h1>
  </div>
</div>

<%= render "shared/banner_carousel_about" %>
<%= render "shared/scrollspy" %>

<section class="fdb-block">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>Froala Design Blocks</h1>
      </div>
    </div>

    <div class="row pt-5 justify-content-center align-items-center">
      <div class="col-4">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1544888344/LINC%20photos/Historic2.png">
      </div>
      <div class="col-4 offset-1">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1544888342/LINC%20photos/Current2.png">
      </div>
    </div>
  </div>
</section>



<section class="fdb-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-5">
        <h1>Design Blocks</h1>
        <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
      <div class="col-12 col-md-6 ml-md-auto mt-4 mt-md-0">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1544888342/LINC%20photos/Current2.png">
      </div>
    </div>
  </div>
</section>


<section class="fdb-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1544888342/LINC%20photos/Current2.png">
      </div>
      <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
        <h1>Froala Blocks</h1>
        <p class="lead">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        <p><a class="btn btn-secondary mt-4" href="https://www.froala.com">Download</a></p>
      </div>
    </div>
  </div>
</section>





