<div class="about-jumbotron jumbotron jumbotron-fluid" style="margin-bottom: 0">
  <div class="container">
    <h1 class="display-4 text-center">About LINC</h1>
  </div>
</div>

<%= render "shared/banner_carousel_about" %>
<%= render "shared/scrollspy" %>


<section class="fdb-block fp-active" data-block-type="contents" data-id="1" draggable="true">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-4 pr-lg-3">
        <p class="text-left">Over the last 20 years, the African lion has lost 42% of its habitat leaving the population increasingly fragmented.</p>
        <p class="text-left">Understanding their movements between areas is critical to maintaining genetic diversity and it is therefore imperative that lion researchers and conservationists collaborate on a broader scale to improve connectivity between lion populations to increase their chances of survival. </p>
      </div>
      <div class="col-6 col-lg-4 pl-lg-5">
        <p>
          <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1544888344/LINC%20photos/Historic2.png">
        </p>
      </div>
      <div class="col-6 col-lg-4">
        <p>
          <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1544888342/LINC%20photos/Current2.png">
        </p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-0">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1545473042/LINC%20photos/lincMapFront-1038x576.png">
      </div>
      <div class="col-12 col-md-6 col-lg-8 ml-md-auto text-left pl-lg-5">
        <p>LINC is a technological solution that generates this rich source of information on lions across East Africa, enabling us to pinpoint and work on priority areas between various migration corridors. The system employs new methodologies for sharing data across research initiatives and includes innovative features such as automated lion recognition tools.</p>
      </div>
    </div>
  </div>
</section>



<!-- How it works -->

<section class="fdb-block">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1>A Community of Lion Researchers </h1>
      </div>
    </div>

    <div class="row-70 d-sm-none d-md-block"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1545475127/LINC%20photos/CameraUploadIcon2.png">
          </div>
          <div class="col-8">
            <h3><strong>Store your data</strong></h3>
            <p>Manage your organization’s lion data in a structured and secure format.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1545474431/LINC%20photos/Puzzles.png">
          </div>
          <div class="col-8">
            <h3><strong>Find new connections</strong></h3>
            <p>Find out where new lions dispersed from by matching individuals in the database.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row-70 d-sm-none d-md-block"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1545474615/LINC%20photos/LionMatch.png">
          </div>
          <div class="col-8">
            <h3><strong>Make a match</strong></h3>
            <p>Use the automated identification tool to identify unknown lions.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1545474695/LINC%20photos/ShareArrows.png">
          </div>
          <div class="col-8">
            <h3><strong>Share your sightings</strong></h3>
            <p>Share and connect with other researchers.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row-70 d-sm-none d-md-block"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1545474782/LINC%20photos/MagnifyingGlass.png">
          </div>

          <div class="col-8">
            <h3><strong>Explore the database</strong></h3>
            <p>View data on lions from study sites across East Africa.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1545474871/LINC%20photos/HiveMind.png">
          </div>

          <div class="col-8">
            <h3><strong>Open source software</strong></h3>
            <p>Allows for technological innovation and collaboration.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


