<div class="about-jumbotron jumbotron jumbotron-fluid" style="margin-bottom: 0">
  <div class="container">
    <h1 class="display-4 text-center">About LINC</h1>
  </div>
</div>

<%= render "shared/banner_carousel_about" %>
<%= render "shared/scrollspy" %>


<section class="fdb-block fp-active" data-block-type="contents" data-id="1" draggable="true">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-4 pr-lg-3">
        <p class="text-left">Over the last 20 years, the African lion has lost 42% of its habitat leaving the population increasingly fragmented.</p>
        <p class="text-left">Understanding their movements between areas is critical to maintaining genetic diversity and it is therefore imperative that lion researchers and conservationists collaborate on a broader scale to improve connectivity between lion populations to increase their chances of survival. </p>
      </div>
      <div class="col-6 col-lg-4 pl-lg-5">
        <p>
          <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1544888344/LINC%20photos/Historic2.png">
        </p>
      </div>
      <div class="col-6 col-lg-4">
        <p>
          <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1544888342/LINC%20photos/Current2.png">
        </p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-0">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1545473042/LINC%20photos/lincMapFront-1038x576.png">
      </div>
      <div class="col-12 col-md-6 col-lg-8 ml-md-auto text-left pl-lg-5">
        <p>LINC is a technological solution that generates this rich source of information on lions across East Africa, enabling us to pinpoint and work on priority areas between various migration corridors. The system employs new methodologies for sharing data across research initiatives and includes innovative features such as automated lion recognition tools.</p>
      </div>
    </div>
  </div>
</section>

<!-- Quote over background -->
<section class="fdb-block bg-dark fdb-viewport" style="background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1544540708/LINC%20photos/PJB_1369.jpg);">
  <div class="container align-items-center justify-content-center d-flex">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-10 col-lg-8">
        <p class="lead">“Lions roam over such vast areas that no one research group can effectively study them across their entire range. Platforms like LINC enable us to work together and identify lions from photos more easily, thereby increasing the chances of picking up potential movement between zones.”</p>
      </div>
    </div>
  </div>
</section>

<!-- How it works -->
<section class="fdb-block">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1>A Community of Lion Researchers </h1>
      </div>
    </div>

    <div class="row-70 d-sm-none d-md-block"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1545475127/LINC%20photos/CameraUploadIcon2.png">
          </div>
          <div class="col-8">
            <h3><strong>Store your data</strong></h3>
            <p>Manage your organization’s lion data in a structured and secure format.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1545474431/LINC%20photos/Puzzles.png">
          </div>
          <div class="col-8">
            <h3><strong>Find new connections</strong></h3>
            <p>Find out where new lions dispersed from by matching individuals in the database.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row-70 d-sm-none d-md-block"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1545474615/LINC%20photos/LionMatch.png">
          </div>
          <div class="col-8">
            <h3><strong>Make a match</strong></h3>
            <p>Use the automated identification tool to identify unknown lions.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1545474695/LINC%20photos/ShareArrows.png">
          </div>
          <div class="col-8">
            <h3><strong>Share your sightings</strong></h3>
            <p>Share and connect with other researchers.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row-70 d-sm-none d-md-block"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1545474782/LINC%20photos/MagnifyingGlass.png">
          </div>

          <div class="col-8">
            <h3><strong>Explore the database</strong></h3>
            <p>View data on lions from study sites across East Africa.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid rounded" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1545474871/LINC%20photos/HiveMind.png">
          </div>

          <div class="col-8">
            <h3><strong>Open source software</strong></h3>
            <p>Allows for technological innovation and collaboration.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- quote overlay -->
<section class="fdb-block bg-dark fdb-viewport" style="background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1544540708/LINC%20photos/PJB_1369.jpg);">
  <div class="container align-items-center justify-content-center d-flex">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-10 col-lg-8">
        <p class="lead">“LINC has the potential to revolutionize the way the scientific community reports and accesses data.”</p>
      </div>
    </div>
  </div>
</section>


<!--  -->
<section class ="fdb-block fp-active">
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h1>Artificial Intelligence Technology</h1>
          <p> At the heart of LINC is a first-of-its-kind automated lion recognition tool. With the click of a button, eliminate hours of poring over photographs of whisker spots.
        </div>
      </div>

      <div class="row row-large text-center mt-5 mb-5">
        <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto mr-md-auto ml-md-0">
           <img alt="image" class="img-center" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1544540466/LINC%20photos/Lighty.jpg">
          <h2><strong>Computer Vision Software</strong></h2>
        </div>

        <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto pt-5 pt-md-0">
           <img alt="image" class="img-center" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1544540466/LINC%20photos/Lighty.jpg">
          <h2><strong>Pattern Recognition Software</strong></h2>
        </div>

        <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto ml-md-auto mr-md-0 pt-5 pt-md-0">
           <img alt="image" class="img-center" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1544540466/LINC%20photos/Lighty.jpg">
            <h2><strong>Matched Lion</strong></h2>
          </div>
      </div>
    </div>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-8 mr-auto pt-5 pt-md-0">
        <p>The computer vision (CV) system detects lion faces based on a HAAR classifier. These are then processed using a Convolutional Neural Network that develops classifiers for each individual lion.
        <br>
        <br>
        The facial recognition software currently uses a combination of OpenCV and the Caffe deep learning framework to develop the classifiers it is currently running on a CUDA based NVIDA GPU.</p>
      </div>
      <div class="col-10 col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546351068/LINC%20photos/tech.jpg">
      </div>
    </div>
  </div>
</section>

<!-- quick look into linc -->
<section class="fdb-block">
  <div class="container pb-4">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1>A Quick Look into LINC</h1>
        <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

        <img alt="image" class="img-fluid mt-5" id="screenshot" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546357365/LINC%20photos/lion_pg.jpg">
      </div>
    </div>
  </div>

  <div class="row text-left pt-5 pl-5 pr-5 pb-5" style="background-color:rgba(215,83,33, 0.8);">
    <div class="col-12 offset-lg-1 col-lg-5 col-md-4">
      <div class="row">
        <div class="col-1">
          <img alt="image" class="img-fluid" src="https://cdn0.iconfinder.com/data/icons/general-15/64/paw_print-512.png">
        </div>
        <div class="col-11">
          <p class="lead" style="color:white;">Each research organization has its own platform on LINC where multiple members of their team can access, load and manage their lion data </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-5 col-md-4">
      <div class="row">
        <div class="col-1">
          <img alt="image" class="img-fluid" src="https://cdn0.iconfinder.com/data/icons/general-15/64/paw_print-512.png">
        </div>
        <div class="col-11">
          <p class="lead" style="color:white;">Each organisation’s database will consist of lion individuals that they have recorded within their study area. Each lion will have its own profile detailing its “personal information” such as its given name, age, sex and photographs of it.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
     <div class="row justify-content-center">
        <div class="col-12 text-left">
          <img alt="image" class="img-fluid mt-5" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546357639/LINC%20photos/database_layout.png">
        </div>
      </div>
  </div>

  <div class="container mt-4 pt-4 pb-4">
    <div class="row justify-content-center">
      <div class="col-12 text-left">
        <h2>Who has access to this data?</h2>
        <p>Currently, LINC is restricted to lion researchers and conservation organizations within Africa. In time, we envision that trained citizen scientists would also be involved in contributing data.
        <br>
        LINC gives the control to its users - you have the choice to share your data publicly (so that all other users can view it), or you can decide to keep it private (so that only users from your own organization can view the data you upload). View the user agreement <a href="#">here</a>.</p>
      </div>
    </div>
  </div>





<!-- what kind of data -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-left">
        <h2>What kind of data do you need to have for LINC?</h2>
        <p>For each individual:</p>
      </div>
    </div>

    <div class="row text-left align-items-center pt-5 pb-md-5">
      <div class="col-4 col-md-5">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546364566/LINC%20photos/PJB_1795.jpg">
      </div>

      <div class="col-12 col-md-5 m-md-auto">
        <p>You must have either portrait and/or whisker photographs of lions – the more portrait photos you have the higher the accuracy of the automate identification software.</p>
      </div>
    </div>

    <div class="row text-left align-items-center pt-5 pb-md-5">
      <div class="col-4 col-md-5 m-md-auto order-md-5">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546365172/LINC%20photos/Eye_example-1795.jpg">
      </div>

      <div class="col-12 col-md-5">
        <p>You can also add photos of the lions markings (such as close ups of its ears, eyes, nose, teeth & tail).</p>
      </div>
    </div>

    <div class="row text-left align-items-center pt-5">
      <div class="col-4 col-md-5">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546365271/LINC%20photos/cub_Adult.png">
      </div>

      <div class="col-12 col-md-5 m-md-auto">
        <p>Approximate age if known.</p>
      </div>
    </div>

    <div class="row text-left align-items-center pt-5 pb-md-5">
      <div class="col-4 col-md-5 m-md-auto order-md-5">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546365550/LINC%20photos/GPS_pin.png">
      </div>

      <div class="col-12 col-md-5">
        <p>Location seen where possible (this can be a pin for the approximate GPS point).</p>
      </div>
    </div>

    <div class="row text-left align-items-center pt-5">
      <div class="col-4 col-md-5">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546365445/LINC%20photos/Female_lion.png">
      </div>

      <div class="col-12 col-md-5 m-md-auto">
        <p>Sex if known.</p>
      </div>
    </div>

    <div class="row text-left align-items-center pt-5 pb-md-5">
      <div class="col-4 col-md-5 m-md-auto order-md-5">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546365638/LINC%20photos/FamilyTree.png">
      </div>

      <div class="col-12 col-md-5">
        <p>Optional additional information on relatives and associates can also be added.</p>
      </div>
    </div>

  </div>
</section>




