<div class="container pt-5 pb-5">
    <h1 class="text-center" style="font-style: bold;">IEF R&D TERMS OF SERVICE for the LINC System</h1>
    <br>
    <br>
    <h2>1. Introduction</h2>
      <p>
        <p>IEF R&D is proud to provide you with access to the LINC System. By using the LINC System, you are agreeing to these Terms of Use, the User Manual, and our Privacy Policy.</p>

        <p>Linc’s Mission is the open sharing of research data to foster communication and collaboration in lion conservation and research. You may only use the LINC System consistent with the Mission.</p>

        <p>This is a binding agreement between you and the LINC Technical Team, and any of its affiliates, subsidiaries, and related apps. Please read these Terms of Use carefully before using the LINC System. These Terms of Use are in place to assure the continued operation of the system to support LINC’s Mission and provide an open useful tool for research.</p>

        <p> The LINC Technical Team includes any persons, companies or organizations who develop and maintain the LINC system under contract or direction by IEF R&D LLC in the development and maintenance of the LINC system.</p>

        <p>The LINC System is defined as all components or software downloaded through the LINC website or LINC code repository to personal devices or services made available through a network connection under the linc.linclion.org domain. All interactions with described components and Content will be deemed an interaction with the LINC System and are covered by this agreement.</p>

        <p>If you are using the LINC System on behalf of an organization or company you are agreeing to these Terms for that organization or company, and promising that you have the authority to bind that organization to these Terms of Use.</p>

        <p> You may not use the LINC System if you are younger than 18. By using LINC, you represent that you are at least 18 years of age.</p>


        <p>LINC Technical Team makes no representations about the accuracy, reliability, currency, quality, completeness, usefulness, performance, security, legality or suitability of the LINC System or its Content. LINC Technical Team is not responsible for errors, omissions, viruses, malware, or database destruction, except as required by law. The LINC System is provided “as is”, without warranty of any kind, express or implied, including the warranties or merchantability and fitness for a particular purpose. LINC Technical Team is not responsible for any harm caused to wildlife as a result of any User’s use of the LINC System. You agree that any use of, or any reliance on, the LINC System or its Content, is at your sole risk. If you are not satisfied with the quality or service or Content, your sole and exclusive remedy is to discontinue using the LINC System.</p>

        <p>These Terms of Use are subject to change periodically. By using the LINC System you are agreeing to the Terms of Use as they exist at the time of use. You can always easily access the Terms of Use <%= link_to 'here (but what is this link supposed to go to?)', 'https://linc.linclion.org', target: "_blank", style: "color:red;" %>.</p>
      </p>

    <br>
    <h2>2. Privacy Policies</h2>
      <p>Your privacy is important to us, and LINC Technical Team will make a good faith effort to secure privacy for your Content and personal information, but ultimately privacy is your responsibility. By using the LINC System, you agree that LINC Technical Team bears no liability, to the fullest extent applicable by law, for any violation of your privacy.</p>

      <p>You can read and download LINC privacy policies <%= link_to 'here.', page_path('about/userpolicy') %></p>

      <p>The LINC System’s privacy policies are subject to change, the latest version can always be found at the above link. By using the LINC System, you are agreeing to all the terms and conditions in LINC’s latest privacy policy.</p>

      <p>You agree that LINC Technical Team can log, record, transmit, monitor, retrieve, sort, and use your information, and Device information in the operation and development of the LINC System.</p>

      <p>A list of all users of the Linc System and their contact information will be made available to all other users of the LINC System.</p>

      <p>The LINC Technical Team may send you electronic communications. You will only receive communications related to the LINC System and its Content.</p>


    <br>
    <h2>3. Your Access</h2>
       <p>Access to the LINC System is solely at the discretion of LINC Technical Team and may be revoked at any time for any reason.</p>

      <p>Authorization to access the LINC System, and related applications, websites, mobile platforms, software, are granted if you follow these Terms of Use. Violation of the Terms of Use is unauthorized access which can result in civil and criminal penalties.</p>

      <p>Subject to this Terms of Use, LINC Technical Team grants you a limited, revocable, non- transferable and non-exclusive License to use the LINC System.</p>

      <p>LINC Technical Team reserves the right to change, suspend, or discontinue all or part of the LINC System, temporarily or permanently, without prior notice. You are responsible for preserving copies of your Content.</p>

      <p>You shall not disrupt the operation of the LINC System by any method, including through use of viruses, Trojan horses, worms, time bombs, denial of service attacks, flooding or spamming, or any other computer code. You shall not use the LINC System in any manner that could damage, disable or impair the LINC System. The data on the LINC System cannot be mirrored or taken from LINC or used or downloaded in any way that compromises the use or functionality of the LINC System.</p>

      <p>You shall not attempt to gain unauthorized access to any user accounts or computer systems or networks, through hacking, password mining or any other means. You shall not use any robot, scraper or other means to access the LINC System for any purpose. You must not collect or harvest any personal data of any user of the LINC System, including account names, emails or contact information.</p>

      <p>You shall not post, use, store or transmit (a) a message or information under a false name; (b) information that is unlawful, libelous, defamatory, obscene, fraudulent, predatory of minors, harassing, threatening or hateful to any person; or (c) information that infringes or violates any copyrights of others or the privacy or publicity rights of others.</p>

      <p>When using the LINC System, information will be transmitted over a medium that may be beyond the control and jurisdiction of LINC Technical Team and its information providers. Accordingly, LINC Technical Team assumes no liability for or relating to the delay, failure, interruption, or corruption of any data or other information transmitted in connection with use of the LINC System.</p>

      <p>You may request the removal of your account and Content in writing at any time by contacting the LINC Technical Team at:
      <br>
      <span style="font-style: italic;">Justin@IERFD.com</span>
      </p>

      <p>We will comply, as reasonably possible, to comply with your request within 30 days. You retain no right to the Machine Learning models or tools developed using your Content or any other system feature of the LINC System and hold no rights to their ownership of removal.</p>


  <br>
  <h2>4. Termination</h2>
   <p>Your access to the LINC System, and your license to use it, will be terminated if you violate your obligations under these Terms of Use, including:
      <ul style="margin-left: auto; margin-right: auto;">
        <li>Causing any harm or use outside of the Mission of LINC with or without your knowledge, by your actions, or by actions of other persons using your login information.</li>
        <li>Using the information for illegal or unauthorized purposes, including the harming, abduction, or killing of animals.</li>
        <li>Allowing unauthorized persons to use the LINC System.</li>
        <li>Use of bots, malware, or other programs that will harm the LINC System.</li>
        <li>Copyright violations, including uploading information that violates the rights of third parties, or using information from the LINC System without authorization from the copyright owner.</li>
      </ul>
    </p>

  <br>
  <h2>5. Your Login</h2>
   <p>You are responsible for securing your account. It is your responsibility to control access to your username and password, and to monitor and control access to your account.</p>

    <p>You must promptly inform LINC Technical Team if you believe your account or password has been compromised. If this has happened, email us at:
      <br>
      <span style="font-style: italic;">Justin@IERFD.com</span>
    </p>

    <p>LINC Technical Team has the right to suspend your account if it believes it’s been compromised.</p>

    <p>You agree that you shall be solely responsible for any damage to the LINC System, any loss of data; or any unauthorized or improper use or disclosure of the LINC System’s Content by you, or anyone using your Log In.</p>

    <br>
    <h2>6. Your Use of the LINC System: Upload</h2>
    <p>You represent that you either own the rights to the photographs, information, data or other content (collectively, “Content”) you upload to the LINC System, or that you have the necessary permission or authorization to upload the Content.</p>

    <p> You retain your copyrights in any content that you upload to the LINC System.</p>

    <p>You grant LINC Technical Team a non-exclusive, worldwide, royalty-free and perpetual license to use the Content you upload in the operation of the LINC System and its Mission. This license includes the right, to distribute, reproduce, modify, adapt and publicly display Content on the LINC System. You also grant LINC Technical Team a license to create Derivative Works using the Content’s binary data and metadata, in the form of Machine Learning models and algorithms for purposes that further the research and Mission of LINC. LINC Technical Team may sublicense these Machine Learning models or Derivative Works on other platforms and to third parties, but LINC Technical Team will not sublicense user Content to any third parties, or use your Content for publication, commercial, trade, or advertising purposes, without your permission.</p>

    <p>You may choose whether the Content you upload is private or “public.” If you choose that it be made “public”, it is viewable and available to other authorized users of the LINC system only. The LINC Technical Team may view private marked data in the technical operation of the LINC System and development of the LINC System’s Machine Learning Models.</p>

    <p>You are solely responsible for the accuracy of the Content and the metadata you upload to the LINC System.</p>

    <p>You may not provide access to the LINC System to persons unauthorized to use it.</p>

  <br>
  <h2>7. Your Use of the LINC System: Download</h2>
    <p>You may download your Content in accordance with the LINC System Use and Mission. Any publication or public use of the downloaded Content should include appropriate citation for the LINC project.</p>

    <p>If you wish to download material that is owned by LINC Technical Team or another User, you must submit a notification describing all specific use, publications, research activities, and other uses of the Content. This notification will be sent to the uploading User using the LINC account email that is user provided. You may not download the material or otherwise use it without the express consent of the owning party.</p>

  <br>
  <h2>8. Updates</h2>
    <p>The LINC System, related support libraries, or Content may need to be updated, for example, for bug fixes, enhanced functions, missing plug-ins and new versions. These updates may be necessary in order for you to use the LINC System. By agreeing to these Terms of Use and using the LINC System, you agree to receive such Updates automatically.</p>

  <br>
  <h2>9. Digital Millennium Copyright Act Notices</h2>
    <p>Under Section 512(c)(2) of Title 17 of the United States Code, if you believe that any material on the LINC System infringes your copyright, you may send a notice of claimed infringement to LINC’s Designated Agent at the following address:</p>
    <br>
    <span style="font-style: italic;">Justin@IERFD.com</span>

    <p>To be effective, Section 512(c)(3)(A) of Title 17 of the United States Code requires that your notification of claimed infringement be a written communication and that it includes each of the following:</p>
      <ul style="margin-left: auto; margin-right: auto;">
        <li>A physical or electronic signature of a person authorized to act on behalf of the owner of the copyright.</li>
        <li>A description of the copyrighted work claimed to have been infringed, or if more than one work is covered by the notice of claimed infringement, a description of each work.</li>
        <li>A description of the infringing activity or of the work that is claimed to be infringing and information about the location on the LINC System where the alleged infringement is occurring that is reasonably sufficient to allow us to locate the infringing material.</li>
        <li>Sufficient information to allow us to contact you, including your name, address, telephone number and your e-mail address.</li>
        <li>A statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent or the law.</li>
        <li>A statement by you that the information in the notice of claimed infringement is accurate and, under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
      </ul>

  <br>
  <h2>10. LINC Trademarks</h2>
    <p>All LINC trade and service names are trademarks of IEF R&D LLC. Nothing contained in the LINC System should be construed as granting any license or right to use any trademark displayed on this site without the express written permission of IEF R&D LLC, the LINC Technical Team, their Affiliates, or any third-party that may own the trademarks.</p>

  <br>
  <h2>11. Your Warranties and Representation</h2>
    <p>You warrant and represent that:</p>
    <p>You will not violate the Terms of Use or use the LINC System in any way contrary to the values of the Mission.</p>
    <p>You are the owner of any Content you upload the LINC System, or otherwise authorized to upload the Content.</p>
    <p>The Content that you upload is, to the best of your knowledge, accurate.</p>
    <p>You will not use the LINC System in a manner that may in any way, whether directly or indirectly, result in the harm, injury, abduction, poaching, or killing of animals. You will not share information with any third person that may use it for any of those purposes.</p>

 <br>
 <h2>12. Indemnification</h2>

    <p>You agree to indemnify, hold harmless, and defend LINC Technical Team and IEF R&D LLC and their parents, subsidiaries, affiliates, licensors, suppliers and their officers, directors, affiliates, subcontractors, agents and employees (collectively, “Indemnified Parties” and each, individually, an “Indemnified Party”) against all costs, expenses, liabilities and damages (including reasonable attorney’s fees) incurred by any Indemnified Party in connection with any third party claims arising out of: (i) your failure to comply with any applicable laws and regulations; and (ii) your breach of any of your obligations in this Terms of Use, including its warranties and representations. You agree not to settle any such claim without the written consent of the applicable Indemnified Party.</p>

    <p>To the fullest extent of the applicable law, you agree that LINC Technical Team and IEF R&D LLC, their Affiliates, Officers, Employees, Agents, Suppliers, Third Party Partners, or Licensors, shall not be liable for any indirect, incidental, special, punitive, cover, or consequential damages (including damages from lost profits, revenue, goodwill, use or Content) however caused, under any theory of liability including contract, tort, warranty, negligence, or otherwise, even if such parties were on actual or constructive notice as to the possibility of such damages.</p>

    <p>You agree that the limitations of liability set forth in this section, and the Terms of Use as a whole, will survive any terminations or expiration of this Terms of Use even if any limited remedy specified in this Terms of Use is found to have failed its essential purpose.</p>

 <br>
 <h2>13. Legal Actions: Arbitration, Choice of Law</h2>

    <p>Any controversy or claim arising out of or relating to this contract or the LINC System shall be settled by arbitration administered by the American Arbitration Association (“AAA”( in New York City, under its Commercial Arbitration Rules, and judgment on the award rendered by the arbitrator(s) may be entered in any court having jurisdiction thereof. If the AAA does not have jurisdiction to hear the claim, you agree to arbitration before a body that has jurisdiction. You agree that regardless of any statute or law to the contrary, your claim must be filed within one year after your claim arose.</p>

    <p>The agreement to arbitrate does not extend to LINC Technical Team or IEF R&D LLC’s claims against User or any if its representatives for copyright infringement, patent infringement, theft of trade secrets, or computer fraud claims under the Computer Fraud Abuse Act or state laws. These claims may, at their discretion, be brought in the applicable state or federal court located in New York City, New York. You agree that your violation of any other these rights may cause irreparable harm to LINC Technical Team or IEF R&D, LLC, which may not compensable by monetary damage alone, and therefore you acknowledge that they may be entitled in injunctive relief. You shall be responsible for their attorneys’ fees in any successful cause of action brought under this paragraph.</p>

    <p>A printed version of these Terms of Use and of any related notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this Agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.</p>

    <p>hese terms and conditions shall be governed by and construed in accordance with the laws of the state of New York, U.S.A, regardless of New York’s choice of law analysis, except where the laws are governed by the United States, including copyright law.</p>

<br>
<h2>14. Other Binding Provisions</h2>

    <p>In the event that any portion of these terms and conditions is deemed by a court to be invalid, the remaining provisions shall remain in full force and effect.</p>

    <p>We may assign, transfer, or otherwise dispose our rights and obligations under these Terms of Use, in whole or in part, at any time without notice. You may not assign these Terms of Use or transfer any rights to use the LINC System, unless we allow you to do so in writing.</p>

    <p>Failure to insist on performance of any of the terms of this Terms of Use will not operate as any type of waiver.</p>

    <p>These Terms of Use constitutes the sole Agreement between you and LINC Technical Team relating to your use of the LINC System. This Terms of Use supersedes any prior agreement related to your use of the LINC System.</p>

    <p>You agree that you have relied on no representations outside those explicitly contained within these Terms of Use in agreeing to its terms.</p>


</div>
