<div class="container pt-5 pb-5">
  <h1 class="text-center">User Agreement, 'LINC- Lion Identification Network of Collaborators'</h1>
<p>The following policy applies only to individuals with login access to the Lion Identification Network of Collaborators portal (or, in shortened form, “LINC”)
Please read and sign the following User Agreement prior to logging in to LINC. By logging into LINC, you agree to all the terms and conditions of this User Agreement (hereby referred to as “User Agreement”), including the terms and conditions contained in the “User” section. If you do not agree with ANY of the terms or conditions contained herein, please do not use LINC. Please contact info at linclion dot org with any questions related to this agreement.
</p>

<h2>Definitions</h2>
<p><strong>LINC</strong> is a collection of online informational services (the “Services”) consisting of software applications provided by <strong>Wildlife Guardians LTD</strong>, and content provided by subscribers of LINC, who are mstrongbers of organizations (government and non-government) gather information on lion.</p>
<ul>
  <li>
    <p>a) Subscribers (the <strong>"Disclosing Party"</strong>): LINC users who request access and received a log in. </p>
  </li>
  <li>
    <p>b) “You” or “yours” or “the Subscriber” refers to each person or entity, as applicable, that subscribes to the LINC.</p>
  </li>
  <li>
    <p>c) “Authorized Users” are those persons, and only those persons, who have been issued a user log in and password by LINC.</p>
  </li>
  <li>
    <p>d) LINC, a service provided by Lion Guardians Ltd (the <strong>"Receiving Party"</strong>).
      <br>
      &nbsp;&nbsp;&nbsp; (i) collectively referred to as the "Parties".
</p>
  </li>
</ul>


<h2>General</h2>
<p>The User Account Request Form, this User Agreement and any other policies relating to the use of the LINC (collectively, this “Agreement”) set forth the terms and conditions that apply to your use of the LINC. By signing and submitting the LINC Access Request Form, you are deemed to have agreed to comply with all of the terms and conditions of this Agreement. The right to use the Services is limited to Authorized Users and is not transferable to any other person or entity. You are responsible for protecting the confidentiality of your access to the Services and for complying with any guidelines relating to security measures designed to prevent unauthorized access.
<br>
<br>
You are not liable for actions of other users but agree to work with LINC to rectify any problems caused by Authorized Users who infringe upon the terms of the Agreement. If the Authorized Users fails to comply with any material term or condition of the User Agreement, LINC may terminate this Agreement upon written notice if the Authorized Users does not cure such noncompliance within sixty (60) days of receiving written notice of the breach.
</p>

<h2>Intellectual Property Rights</h2>
<p>The Receiving Party understands that the Disclosing Party has disclosed or may disclose photographic data and information relating to your organization which to the extent previously, presently, or subsequently disclosed to the Receiving Party is hereinafter referred to as "Proprietary Information" of the Disclosing Party.
  <br>
  <br>
In consideration of the disclosure of Proprietary Information by the Disclosing Party, the Receiving Party hereby agrees:
<ol>
  <li>
   to use these data only to assist the disclosing organization in uploading their photographs and metadata to LINC. The Proprietary Information will otherwise be held in strict confidence and the Receiving Party will take all reasonable precautions to protect the Proprietary Information (including, without limitation, all precautions the Receiving Party employs with respect to its own confidential materials),
  </li>
  <li>
    not to disclose any such Proprietary Information or any information derived therefrom to any third person,
  </li>
  <li>
    not to make any use whatsoever at any time of such Proprietary Information, and
  </li>
  <li>
    not to copy or reverse engineer any such Proprietary Information.
  </li>
</ol>
</p>

<p>
  The Receiving Party shall procure that its employees, agents and sub-contractors to whom Proprietary Information is disclosed or who have access to Proprietary Information sign a nondisclosure or similar agreement in content substantially similar to this Agreement.
  <ul>
    <li>Immediately upon the written request by the Disclosing Party at any time, the Receiving Party will return to the Disclosing Party all Proprietary Information and all documents or media containing any such Proprietary Information and any and all copies or extracts thereof, save that where such Proprietary Information is a form incapable of return or has been copied or transcribed into another document, it shall be destroyed or erased, as appropriate.</li>
    <li>The Receiving Party acknowledges and agrees that no representation or warranty, express or implied, is or will be made, and no responsibility or liability is or will be accepted by the Disclosing Party, or by any of its respective directors, officers, employees, agents or advisers, as to, or in relation to, the accuracy of completeness of any Proprietary Information made available to the Receiving Party or its advisers; it is responsible for making its own evaluation of such Proprietary Information.</li>
    <li>The failure of either party to enforce its rights under this Agreement at any time for any period shall not be construed as a waiver of such rights. If any part, term or provision of this Agreement is held to be illegal or unenforceable neither the validity, nor enforceability of the remainder of this Agreement shall be affected. Neither Party shall assign or transfer all or any part of its rights under this Agreement without the consent of the other Party. This Agreement may not be amended for any other reason without the prior written agreement of both Parties. This Agreement constitutes the entire understanding between the Parties relating to the subject matter hereof unless any representation or warranty made about this Agreement was made fraudulently and, save as may be expressly referred to or referenced herein, supersedes all prior representations, writings, negotiations or understandings with respect hereto.</li>
    <li>This Agreement shall be governed by the laws of the jurisdiction in which the Disclosing Party is located (or if the Disclosing Party is based in more than one country, the country in which its headquarters are located) (the "Territory") and the parties agree to submit disputes arising out of or in connection with this Agreement to the non-exclusive of the courts in the Territory.</li>
  </ul>
</p>
<p>You acknowledge that the Services contain copyrighted material, trademarks, and other proprietary information owned by LINC and individual contributors to LINC, and that your subscription does not confer on you any right, title or interest in or to the Services, the related documentation or the intellectual property rights relating thereto other than the rights you retain on the material that you directly submitted to the LINC. Unauthorized copying of any portion of the Services may constitute an infringement of applicable copyright, trademark or other intellectual property laws or international treaties and may result in litigation under applicable copyright, trademark or other intellectual property laws or international treaties and loss of privileges granted pursuant to this Agreement.</p>

<h2>Usage</h2>
<p>Your use of the Services constitutes your agreement to all of the terms, conditions, and notices below in addition to the general terms and conditions contained in this Agreement. If you do not agree with these provisions, please do not use the Services and request an immediate termination of your account.</p>

<h2>In General</h2>
<p>As a condition of using the Services you agree to abide by all applicable local, Provincial, national and international laws and regulations relevant to the use of the Services including, without limitation, any applicable privacy legislation and policies. In addition, you warrant that you will not use the Services for any purpose that is unlawful or prohibited by this Agreement (including, without limitation, any use that infringes another’s copyright rights). You may not use the Services in any manner that could damage, disable, overburden or impair the Web site or any user of the Web site, or interfere with any other party’s use of the Services. You will not use the Services or content of LINC to accumulate data for or promote a lion photo-identification library that may in any way be deemed by LINC to be competitive with its own efforts.</p>

<h2>Good Faith Data Collection, Reporting, Sharing, and Collaboration</h2>
<p>As a Subscriber, you have the right to submit photographs, data, and content to LINC. The LINC is a community resource, and its content is used by a number of different individuals and agencies for a variety of research and conservation purposes. In all cases, you will submit content and encounter reports as completely and as accurately as possible, obtaining permission to use any copyrighted materials before submitting them to the Library. In addition, you will not submit any content that uses language or imagery (verbal or visual) that is deemed as offensive by anyone for any reason. LINC reserves the right to edit your content to enforce this.</p>

<h2>Publications Using Data from the LINC</h2>
<p>In any case where the content or Services of the LINC are used in any way to contribute to any publication (online or print), Subscribers must make a good faith effort to include a visible acknowledgment of LINC in their publications. Furthermore, any Subscriber taking copyrighted content directly from the LINC and using it in any publication or medium must first obtain the written consent of the appropriate copyright holder(s) (such as encounter photographers) and comply with all national and international copyright laws.</p>

<h2>Downloading Materials</h2>
<p>You may not publish, copy, automatically browse or download, display, distribute, post, transmit, perform, modify, create derivative works from or sell any Materials that you did not personally submit, information, products or services obtained from the Services in any form or by any means, including, without limitation, electronic, mechanical, photocopying, recording or otherwise, except as expressly permitted under applicable law or as described in this Usage Agreement. You also may not engage in systematic retrieval of data or other content or Materials from the Services to create or compile, directly or indirectly, a collection, compilation, database or directory. Nor may you “mirror” on your own site or any other server any Material contained on the Services, including, without limitation, the Services’ home page or result pages without the express and written consent of LINC. Use of the content and Materials on the Services for any purpose not expressly permitted by this Usage Agreement is prohibited.</p>

<h2>Account and Security</h2>
<p>You are responsible for maintaining the confidentiality of your method of accessing the Services.</p>

<h2>Disclaimer of Warranty; Limitation of Liability</h2>
<p>YOU EXPRESSLY AGREE THAT USE OF THE SERVICES IS AT YOUR SOLE RISK. NEITHER LINC USA, ITS AFFILIATES NOR ANY OF THEIR RESPECTIVE EMPLOYEES, AGENTS, THIRD PARTY CONTENT PROVIDERS OR LICENSORS WARRANT THAT THE SERVICES WILL BE AVAILABLE AT ANY PARTICULAR TIME, UNINTERRUPTED, OR ERROR FREE; NOR DO THEY MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE SERVICES, OR AS TO THE ACCURACY, RELIABILITY OR CONTENT OF ANY INFORMATION OR SERVICE PROVIDED THROUGH THE SERVICES. THE SERVICES ARE PROVIDED ON AN “AS IS” BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OTHER THAN THOSE WARRANTIES WHICH ARE IMPLIED BY AND INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER APPLICABLE LAW.
IN NO EVENT SHALL LINC BE LIABLE TO YOU OR ANY OTHER PERSON FOR LOSS OF BUSINESS OR PROFITS, OR FOR ANY INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OF, OR INABILITY TO USE, THE SERVICES, EVEN IF LINC WAS PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR FOR ANY OTHER CLAIM BY A SUBSCRIBER, AUTHORIZED USER, OR ANY OTHER PERSON. THIS WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS, AND YOU MAY ALSO HAVE OTHER RIGHTS WHICH VARY BY LOCATION.
</p>

<h2>Indemnification</h2>
<p>To the maximum extent permitted by law, you agree to defend, indemnify and hold harmless LINC, its affiliates and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys' fees, arising out of the use or unauthorized copying of the Services or any of their content, the violation of this Agreement or any applicable laws or regulations, or arising out of your violation of any rights of a user.</p>

<h2>Term and Termination of Agreement</h2>
<p>Either party shall have the right to terminate this Agreement at any time by providing notice of termination to the other party in accordance with the Subscription Form. In the event of termination of this Agreement by either party, you shall have no claims against LINC, its affiliates, or any individual contributors to the LINC. Termination of this Agreement automatically terminates your license to use the Services, any content or any other materials contained therein.</p>

<h2>Miscellaneous</h2>
<p>This Agreement is entire and complete, and no representations, warranties, agreements or covenants, express or implied, of any kind or character whatsoever have been made by either party hereto to the other, except as expressly set forth in this Agreement. Except as provided herein, this Agreement may not be modified or changed unless the same shall be in writing and signed by an authorized officer of the party to be bound thereby.
<br>
You may not assign any of your rights or delegate any of your obligations under this Agreement without LINC's prior written consent. If any provision of this Agreement is held to be overly broad in scope or duration by a court of competent jurisdiction such provision shall be deemed modified to the broadest extent permitted under applicable law. If any provision of this Agreement shall be held to be illegal, invalid or unenforceable by a court of competent jurisdiction, the validity, legality and enforceability of the remaining provisions shall not, in any way, be affected or impaired thereby. No waiver by either party of any breach or default hereunder shall be deemed to be a waiver of any preceding or subsequent breach or default. The section headings used herein are for convenience only and shall not be given any legal import.
</p>

<p><strong>YOU WILL BE ASKED TO READ, UNDERSTAND AND AGREE TO BE BOUND BY ALL OF THE TERMS OF THIS AGREEMENT BEFORE BEING ISSUED AN ACCOUNT.</strong></p>
<p><strong>LINC reserves the right to change, modify, add or remove portions of this Usage Agreement or the terms or conditions contained herein. However, subscribers are to be notified 30 days prior to the changes taking place. If the Subscriber deems that they will no longer be able to meet their obligations under the Usage Agreement or that they will no longer be able to use or access the Service in a useful manner they must inform LINC directly and no longer use LINC in any manner.</strong></p>

</div>
