<div class="container pt-5 pb-5">
  <h1 class="text-center" style="font-style: bold;">IEF R&D PRIVACY POLICY for the LINC System</h1>
  <br>
  <h2>1. Introduction</h2>
<p>IEF R&D and its affiliates (collectively, “LINC Technical Team”) are committed to protecting the privacy of the LINC System’s users. We want your use to be secure as possible. This Privacy Policy sets forth the manner in which we may collect and use your personal information. Please be aware that your use of the LINC System’s services will not be anonymous.
  <br>
  <br>
The LINC System is defined as all components or software downloaded through the LINC website or LINC code repository to personal devices or services made available through a network connection under the linc.linclion.org domain. All interactions with described components and Content will be deemed an interaction with the LINC System and are covered by this agreement.
  <br>
  <br>
This Privacy Policy sets forth: (1) the information collected from your use of the LINC System; (2) how the LINC Technical Team uses the information; (3) to whom the LINC Technical Team discloses information; (4) how we collect the information, from you the User, through the LINC System; (5) the choices you have regarding the information we collect; and (6) how you may contact us.
</p>

 <br>

<h2>2. The Information We Collect</h2>
<p>The LINC Technical Team collects and retains your email, name, organization name, phone number, other contact information, transaction-related information, and any other personal information that you provide to the LINC Technical Team through the LINC System.</p>

 <br>

<h2>3. How We Use Your Information</h2>
  <p>The LINC Technical Team may employ the information we collect from or about you through the LINC System for a variety of purposes, including:
    <ul style="margin-left: auto; margin-right: auto;">
      <li>Providing you with the services as set forth in our Terms of Service</li>
      <li>Creating Machine Learning models and algorithms for purposes that further the
      research and educational mission of LINC</li>
      <li>Openly sharing these Machine Learning models with third parties and the general public</li>
      <li>Providing you with information about the LINC System operation or required notices</li>
      <li>Following up on services or information we provided to you the user</li>
      <li>Conducting research as set forth in our Terms of Service</li>
      <li>Allowing us to improve the LINC System and the services we provide</li>
      <li>Generating and analyzing statistics about your use of the LINC System</li>
      <li>Detecting, preventing, and responding to fraud, copyright infringement, violation of our Terms of Service, violations of law, and other misuse of the LINC System</li>
    </ul>
  </p>

   <br>

  <h2>4. To Whom We Disclose Your Information</h2>
    <p> We disclose your information as set forth in our Terms of Service, and as guided by your designation of your content as public or private.
    <br>
    <br>
    Specially, the names and users and their contact information is made available to other users of the LINC System.
    <br>
    <br>
    We may also disclose your information to: other organizations that work with the LINC Technical team to provide its services; when required to protect the users rights or safety, or to protect the rights or safety of others; when required by law or court order; and to the extent necessary to proceed with any merger or partnership.
    <br>
    <br>
    Your information is not made available to any third parties outside of the LINC Technical Team and the above stated cases.
  </p>

   <br>

  <h2>5. How We Collect Information From Or About You</h2>
  <p>The LINC System collects the information you provide when you:
    <ul style="margin-left: auto; margin-right: auto;">
      <li>Create an account</li>
      <li>Send us correspondence</li>
      <li>Contribute content to the LINC System</li>
      <li>Use interactive features on the LINC System</li>
    </ul>
  <br>
    LINC Technical Team may automatically collect certain technical information about your computer or mobile device when you use the LINC System using cookies or similar technologies, such as your Internet Protocol address, your browser type, type of operating system, the pages and content you view on the LINC System for the continued technical operation of the LINC System and to improve system performance for the user.
  <br>
  <br>
  <span style="font-style: italic;">If you wish to review or correct the contact information we have on file for you or inform us how you wish your information to be used, or request that your information is deleted, please contact us using the email below.</span>
  </p>

   <br>

  <h2>6. How to Contact Us:</h2>
  <p>If you have any questions about this Privacy Policy or about our data practices regarding the information we collect through the LINC System, please contact us at:
    <br>
    <br>
   <span style="font-style: italic;">Justin@IERFD.com</span>
  </p>


</div>
