<%= render "shared/banner_carousel_home" %>



<!-- mission and purpose  -->
<section class="fdb-block fp-active pb-lg-5" data-block-type="features" data-id="3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <p style="font-size: 1.5rem;">Researchers across the continent are working together to understand the dynamics of lion populations using LINC- the Lion Identification Network of Collaborators- as a non-invasive tool for tracking, identifying and monitoring African lions. <p><%= link_to 'Learn More >', page_path('about/linc') %></p>
      </div>
    </div>
  </div>

<!-- what is linc -->
 <div class="fdb-block block-background" data-block-type="contents" data-id="1" draggable="true">
  <div class="col-fill" style="background-image: url(/assets/home/lioness.jpg);">
  </div>
    <div class="row justify-content-end">
      <div class="col-12 col-md-6">
        <h1 class="text-center" style="color:white">What is LINC?</h1>
        <p class="lead lead-large lead-small text-center">LINC is an open source application comprised of an online database where researchers can upload and manage data on lions in their own study areas and identify unknown lions using LINC’s embedded artificial intelligence (AI) recognition technology. LINC also enables researchers to more easily share information with other lion researchers, promoting international and inter-organisational collaboration, thereby increasing the chances of detecting connections between lion populations.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-large text-center mt-5 mb-5">
      <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto mr-md-auto ml-md-0">
        <img alt="image" class="img-fluid rounded" src="/assets/home/CommunityLogo.png">
        <h2><strong>COMMUNITY GENERATED DATABASE</strong></h2>
        <p>Researchers across the continent can capture, organize and share lion observation data with one another.</p>
      </div>

      <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto pt-5 pt-md-0">
        <img alt="image" class="img-fluid rounded" src="/assets/home/CompIcon.png">
        <h2><strong>EASY TO USE WEBSITE</strong></h2>
        <p>With its user-friendly interface that maximizes efficiency in work flow, LINC is leading the paradigm shift away from paper records and distributed data.</p>
      </div>

      <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto ml-md-auto mr-md-0 pt-5 pt-md-0">
        <img alt="image" class="img-fluid rounded" src="/assets/home/Tick_1.png">
          <h2><strong>LION RECOGNITION SOFTWARE</strong></h2>
          <p>An automated facial and whisker recognition software allows users to easily compare photographs of unknown lions to an expansive database of individuals, helping to identify lions who move beyond organizations’ study areas.</p>
        </div>
    </div>
  </div>
</section>



<!-- our impact sections -->
<section class="fdb-block fp-active" data-block-type="contents" data-id="1" draggable="true">
  <div class="container-fluid">
    <div class="row text-left">
      <div class="col-12 col-md-12 col-lg-12 ml-md-auto text-center">
        <h1>Who uses Linc?</h1>
        <p class="text-h3 mt-3">Lion researchers and conservationists across East Africa are working together on LINC.</p>
        <!-- <p><a href="#">Learn More &gt;</a>.</p></p> -->
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-4 col-lg-2 mr-lg-0 m-sm-auto mr-md-auto ml-md-0">
        <h1 style="font-size: 100px;">8</h1>
        <h2 class="stats-header"><strong>organisations</strong></h2>
        <p style="color:red;"> I think you should have a little bit of text here to give more information about this</p>
      </div>
      <div class="col-12 col-sm-8 col-md-4 col-lg-2 mt-lg-5 mr-lg-5 ml-lg-5 m-sm-auto pt-md-0">
        <h1 style="font-size: 100px;">400</h1>
        <h2 class="stats-header"><strong>Individual lions registered</strong></h2>
        <p style="color:red;"> I think you should have a little bit of text here to give more information about this</p>
      </div>

      <div class="col-12 col-sm-8 col-md-4 col-lg-2 ml-lg-0 m-sm-auto ml-md-auto mr-md-0 pt-md-0">
        <h1 style="font-size: 100px">1</h1>
        <h2 class="stats-header"><strong>New movement detected</strong></h2>
        <p style="color:red;">I think you should have a little bit of text here to give more information about this</p>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-5 pt-5 mb-5 pb-5" style="background-color: rgba(215,83,33, 0.9);">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center">
        <h1 style="color:white;">Are you working with lions in East Africa?</h1>
        <p class="mt-4 mb-3">
          <%= link_to 'Join Linc', "https://linc.linclion.org", target: "_blank" ,class: 'btn-linc-reverse mr-3' %>
           <%= link_to 'Log In', "https://linc.linclion.org", target: "_blank" ,class: 'btn-linc-reverse ml-3' %>
        </p>
        <!-- <a href="https://facebook.com" class="icon-button facebook"><i class="fab fa-facebook-f icon-facebook"></i></i><span></span></a> -->
      </div>
    </div>
  </div>
</section>




<!-- identify photograph protect -->
<section>
    <div class="row pics-center">
      <div class="col-12 col-lg-4 col-md-4 col-sm-8 nopadding">
        <img alt="image" class="img-center" src="/assets/home/Lighty.jpg">
      <h1 id="photograph">PHOTOGRAPH.</h1>
      </div>

      <div class="col-12 col-lg-4 col-md-4 col-sm-8 nopadding">
        <img alt="image" class="img-center" src="/assets/home/MArtii.jpg">
        <h1 id="identify">IDENTIFY.</h1>
      </div>

      <div class="col-12 col-lg-4 col-md-4 col-sm-8 nopadding">
        <img alt="image" class="img-center" src="/assets/home/Cub_snarl.jpg">
        <h1 id="connect">CONNECT.</h1>
      </div>
    </div>
</section>
