// .main-banner-text {
//     position: absolute;
//     width: 100%;
//     color: #FFF;
// }





/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
#h1-img1 {
  font-size: 4rem;
}

#firstslide {
  height: 90vh;
  background-position-y: 100%;
  .slider-1 {
    top:350px;
    left: 130px;
    }
  }

  #secondslide {

  .slider-2 {
    top:308px;
    left: 120px;
    }
  }

  #thirdslide {
    height: 90vh;
    .slider-3 {
      top:300px;
    }
  }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
#h1-img1 {
  font-size: 1.5rem;
}

#firstslide {
  .slider-1 {
    top:120px;
    }
  }

  #secondslide {
  .slider-2 {
    top:41px;
    }
  }

  #thirdslide {
    .slider-3 {
      top:70px;
    }
  }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
#h1-img1 {
  font-size: 3rem;
}

#firstslide {
  .slider-1 {
    top:296px;
    }
  }

  #secondslide {
  .slider-2 {
    top: 162px;
    left: 71px;
    }
  }

  #thirdslide {
    .slider-3 {
      top:176px;
    }
  }
}



