.image-container {
  height: 100vh;
  padding: 100px !important;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.about-caption {
  bottom: 60px !important;
}
