.banner {
  text-align: left;

  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  height: calc(100vh - 123px);
  background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1556450809/LINC%20website/Home/HOMEPAGE2-1-min.jpg);
  display: flex;
  align-items: center;
  justify-content: start;
}

#hero-text {
    margin-left: 45px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
}


@media (min-width: 1540px) {
  #hero-text {
    font-size: 8rem;
  }
  .banner {
    height: calc(100vh - 123px);
    background-position-y: 80%;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1540px) {
  #hero-text {
    font-size: 3.5rem;
  }
  .banner {
    background-position-y: 80%;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
 #hero-text {
    font-size: 3.5rem;
    position: relative;
    bottom: 300px;
  }
  .banner {
    height: calc(100vh - 123px);
    background-position-x: 65%;
    background-position-y: 70%;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #hero-text {
    font-size: 2.5rem;
    position: relative;
    top: 70px;
  }
  .banner {
    background-position-x: 44%;
    background-position-y: 50%;
    height: calc(100vh - 70px);
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  #hero-text {
    font-size: 2.5rem;
    position: relative;
    top: 100px;
  }
  .banner {
    background-position-x: 50%;
    height: calc(100vh - 70px);
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

 #hero-text {
    font-size: 2.75rem;
    position: relative;
    bottom: 10vh;
    margin-left: 25px;
    color: white;
  }

  .banner {
    background-position-x: 66%;
    height: calc(100vh - 307.5px);
  }

}
