.banner {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 650px;
  flex-direction: column;
  text-align: center;
}
