/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) and (max-device-width : 1440px) {
.h1-img1 {
  font-size: 4rem;
}

#firstslide {
  height: 100%;
  width: 100%;

  .slider-1 {
    top: 50%;
    left: 15%;
    }
  }

  #secondslide {
    height: 100%;
    width: 100%;
  .slider-2 {
    top:50%;
    left: 15%;
    }
  }

  #thirdslide {
    height: 100%;
    width: 100%;
    .slider-3 {
      top:50%;
      left: 15%;
    }
  }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 425px) {
.h1-img1 {
  font-size: 1rem;
}

#firstslide {
  .slider-1 {
    top: 40%;
    }
  }

  #secondslide {
  .slider-2 {
    top: 40%;
    }
  }

  #thirdslide {
    .slider-3 {
      top: 35%;
    }
  }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.h1-img1 {
  font-size: 3rem;
}

#firstslide {
  .slider-1 {
    top:40%;
    }
  }

  #secondslide {
  .slider-2 {
    top: 30%;
    left: 10%;
    }
  }

  #thirdslide {
    .slider-3 {
      top:30%;
    }
  }
}

/* Super big screens ----------- */
@media only screen and (min-device-width : 1445px) and (max-device-width : 2560px) {
  .h1-img1 {
  font-size: 8rem;
  }

  #firstslide {
    width: 100%;
    background-position: cover;
  .slider-1 {
    top: 50%;
    }
  }

  #secondslide {
  .slider-2 {
    top: 50%;
    }
  }

  #thirdslide {
    .slider-3 {
      top: 40%;
    }
  }
}

