.main-banner-text {
    position: absolute;
    width: 100%;
    color: #FFF;
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .main-banner-text {
    top: 750px;
    padding-left: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    h1 {
      font-size: 4.5rem;
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .main-banner-text {
      top: 220px;
      left: 50px;
      width: 80%;
      h1 {
        font-size: 2rem;
      }
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .main-banner-text {
    top: 433px;
    left: 85px;
    width: 50%;
    }
    h1 {
      font-size: 2.5rem;
    }
}
