.btn-linc {
  color: white !important;
  padding: 9px 26px !important;
  border-radius: 2px !important;
  border: none !important;
  background: $linc-orange !important;
  transition: background 0.3s ease !important;
}
.btn-linc:hover {
  opacity: 1 !important;
  background: $linc-light-orange !important;
  text-decoration: none !important;
  color: white;
}

/* Build your own button classes ! */

