// style for photograph, identify, connect

.nopadding-img1 {
   padding-right: 0 !important;
}

.nopadding-img2 {
  padding: 0 !important;
}

.nopadding-img3 {
  padding-left: 0 !important;
}

.row .flex-row {
  display: flex;
}

.col .flex-col {
  flex: 33.33%;
}

.img-block {
  height: 100%;
  width: 100%;
}





