#call-to-action-header {
  color: white;
  font-size: 35px;
  margin-bottom: 2rem;
}

.lead-large {
  padding: 20px 50px 60px 50px;
}

#photograph {
  color: white;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 80%;
  left: 21%;
}

#identify {
  color: white;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 80%;
  left: 30%;
}

#connect {
  color: white;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.4),
    1px -1px 0 rgba(0, 0, 0, 0.4),
    -1px 1px 0 rgba(0, 0, 0, 0.4),
    1px 1px 0 rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 80%;
  left: 25%;
}


/* Block Background  ----------- */

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1281px) {
  .col-fill {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position-y: 42%;

  }
  .block-background {
    background-color: rgba(215,83,33, 0.8) !important;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  .lead-large {
    color: white !important;
  }

  #photograph {
  font-size: 4rem;
  }
  #identify {
  font-size: 4rem;
  }
  #connect {
  font-size: 4rem;
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 1024px) and (max-width: 1280px) {
  .col-fill {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-position-y: 40%;

  }
  .block-background {
    background-color: rgba(215,83,33, 0.8) !important;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  .lead-large {
    color: white !important;
  }

  #photograph {
  font-size: 3rem;
  }

  #identify {
  font-size: 3rem;
  }

  #connect {
  font-size: 3rem;
  left: 30%;
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 1023px) {
  .col-fill {
    width: 40%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
  }

  .block-background {
    background-color: rgba(215,83,33, 0.8) !important;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }

  p.lead.lead-large {
    color: white !important;
    padding: 0px 10px !important;
    font-size: 1rem;
  }

  #photograph {
    font-size: 2.5rem;
  }
  #identify {
    font-size: 2.5rem;
  }
  #connect {
    font-size: 2.5rem;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 481px) and (max-width: 767px) {
  .banner {
    background-position-y: 70%;
  }

  .col-fill {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
  }

  .block-background {
    background-color: rgba(215,83,33, 0.8) !important;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }

  p.lead.lead-large {
    color: white !important;
    padding: 0px 10px !important;
    font-size: 1rem;
  }


  #photograph {
  font-size: 2rem;
  left: 25%;
  }
  #identify {
  font-size: 2rem;
  left: 30%;
  }
  #connect {
  font-size: 2rem;
  left: 30%;
  }

}


// Extra small devices (portrait phones, less than 576px)
@media (min-width: 320px) and (max-width: 480px) {
   .col-fill {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-position-x: 80%;
  }
  #whatislincH1 {
    margin-top: 3rem;
  }
  .lead-small {
    color: white !important;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
  }

  #photograph {
  font-size: 1.5rem;
  left: 12%;
  }

  #identify {
  font-size: 1.5rem;
  }

  #connect {
  font-size: 1.5rem;
  }

  #call-to-action-header {
    font-size:25px;
  }
 }



/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .row-large {
  height: 360px;
  }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .row-large {
  height: 450px;
  }
}






