
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .row-large {
  height: 360px;
  }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .row-large {
  height: 450px;
  }
}


.lead-large {
  padding: 20px 50px 60px 50px;
}



/* Jumbotron home styling ----------- */

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .col-fill {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
  }
  .block-background {
    background-color: rgba(215,83,33, 0.8) !important;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  .lead-large {
    color: white !important;
  }
  #photograph {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 25rem;
  left: 4rem;
  }
  #identify {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 25rem;
  left: 8rem;
  }
  #connect {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 25rem;
  left: 8rem;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .col-fill {
    width: 54%;
    height: 75%;
    position: absolute;
    background-size: cover;
    background-position: center;
  }
  .block-background {
    background-color: rgba(215,83,33, 0.8) !important;
    margin-top: 5rem;
  }
  .lead-large {
      color: white !important;
  }
  #photograph {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 15rem;
  left: 3rem;
  }
  #identify {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 15rem;
  left: 4rem;
  }
  #connect {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 15rem;
  left: 4rem;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .col-fill {
    width: 100%;
    height: 75%;
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }
  .lead-small {
    color: white !important;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    height: 550px;
  }

  #photograph {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 18rem;
  left: 6rem;
  }
  #identify {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 24rem;
  left: 7rem;
  }
  #connect {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 19rem;
  left: 8rem;
  }

}


/* photograph Pfont-size: 3rem;HOTOGRAPH PROTECT ----------- */













