/* Main navbar */
.navbar-linc {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.05),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-linc-logo img {
  height: 40px;
  padding-right: 20px;
}

/* Right section */
.navbar-linc-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-linc-left {
padding: 20px 20px;
}

/* Basic navbar item */
.navbar-linc-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-linc-link {
  color: #616668;
  font-size: 14px;
}
.navbar-linc-link:hover {
  color: $linc-orange;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-linc-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-linc-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: $linc-orange !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

#search-btn {
  position: relative;
}

.learn-more-btn {
  background-color: #FFFFFF;
  border: none;
  font-size: 17px;
  color: #616668;
    &:hover {
    background-color: $linc-light-gray;
    border-radius: 5px;
    }
}

.learn-more-dropdown {
  // margin-left: -140px;
  font-size: 14px;
  border-radius: 5px;
    li a:hover {
    background-color: rgba(215,83,33, 0.01); // stupid thing
    }
    li:hover {
      background-color: $linc-orange;
    }
    li a {
    padding: 10px 20px;
    margin-top: 0px;
    margin-right: 10px;
    }
}


input[type=text] {
  width: 130px;
  height: 35px;
  -webkit-transition: width 0.7s ease-in-out;
  transition: width 0.7s ease-in-out;
  background-color: white;
  background-image: url('search.png');
  background-position: center left 6px;
  font-size: 15px;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 30px;
  border-radius: 10px;
  border: 1px solid $linc-light-gray;
}


/* When the input field gets focus, change its width */
input[type=text]:focus {
    width: 300px;
    margin-right: 100px;
    border: 0.5px solid $linc-light-orange;
    box-shadow: none;
}


.input-search {
  position: absolute;
  left: 245px;
  ::placeholder {
    color: #616668;
}
}
