#navbar-2 {
  background-color: rgba(215,83,33, 0.9);
  transition: 0.5s background-color ease;
  padding: 10px 30px 10px 30px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}


.navbar-scrollspy-link {
  padding-right: 2rem !important;
}

a.navbar-scrollspy-link {
  color: white;
   &:hover {
     text-decoration: none;
     color: #373331;
  }
}

.sticky {
  position: sticky !important;
  z-index: 999;
  top: 0 !important;
  background-color: #373331 !important;
  width: 100%;
  a {
    color: white !important;
    &:hover {
      color: $linc-orange !important;
    }
  }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #navbar-2 .navbar-brand {
    display: none;
  }
  #navbar-2 ul {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
  }
   #navbar-2 ul.navbar-nav {
    display: none;
   }
}


